html,
body,
button,
input,
textarea,
select {
    font-family: "Pretendard",
    "Noto Sans KR",
    "Apple SD Gothic Neo",
    sans-serif;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


:root {
    --primary: #2e627a;
    --accent: #2563eb;
    --bg: #f4f6f9;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}


.header-main .search form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 820px;
    border: 2px solid #2e627a !important;
    border-radius: 10px !important;
    overflow: hidden;
    background: #ffffff;
}

.header-main .search input {
    height: 46px;
    border: none !important;
    outline: none;
    background: #ffffff;
    font-size: 15px;
}

.header-main .search button {
    width: 90px;
    height: 46px;
    border: none !important;
    background: #2e627a;
    color: #ffffff;
    font-weight: 700;
}